@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/*HERO*/

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Užpildo visą ekraną vertikaliai */
}

.hero-container img {
    max-width: 100%;
    height: auto;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar img {
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link p {
    margin: 0;
}

/*FOOTER*/

.footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 30px 20px;
    font-size: 14px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-section {
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
        text-align: left;
    }
}
